* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

button:focus, input:focus {
  outline: none;
}

button:hover, input:hover {
  cursor: pointer;
}

body {
  height: 100vh;
  overflow: hidden;
}

.header {
  padding: 5px 20px;
  -webkit-box-shadow: 2px -10px 20px 1px #1a1a1a;
          box-shadow: 2px -10px 20px 1px #1a1a1a;
  position: relative;
  z-index: 2;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__icon_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: none;
  opacity: 0.3;
}

.header__icon_btn img {
  width: 25px;
}

.header__icon_btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.header__logo {
  width: 30%;
  cursor: pointer;
}

.header__logo img {
  width: 50%;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  min-width: 80px;
}

.header-nav__input {
  width: 100%;
  min-width: 80px;
  border: 1px solid #DBDCDD;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 5px 10px 6px;
}

.header-nav__loupe_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #DBDCDD;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #F7F7F7;
}

.header-nav__loupe_btn:hover {
  background-color: #EBEBEB;
}

.header-nav__loupe_btn img {
  width: 15px;
}

.header-profile {
  min-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.header-profile-avatar {
  border-radius: 100%;
  background-color: #F6AF44;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-profile-avatar:hover {
  background-color: #EBEBEB;
}

.header-profile-avatar:hover .header-profile-avatar-menu {
  display: block;
}

.header-profile-avatar-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: #ffffff;
  border: 1px solid #DBDCDD;
  border-radius: 5px;
  overflow: hidden;
  width: 150px;
  display: none;
}

.header-profile-avatar-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 10px;
  cursor: pointer;
}

.header-profile-avatar-menu__item:hover {
  background-color: rgba(219, 220, 221, 0.9);
}

.header-profile-avatar-menu__item img {
  margin-right: 5px;
  width: 20px;
}

.header-profile-avatar-menu__last_item {
  color: #FF0000;
  border-top: 1px solid #DBDCDD;
}

.header-profile-avatar img {
  width: 15px;
}

@media only screen and (max-width: 700px) {
  .header__logo {
    width: 30%;
  }
  .header__logo img {
    width: 100%;
  }
}

.main_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.streamer_nav {
  height: 100%;
  width: 250px;
  background-color: #EBEBEB;
  position: relative;
}

.streamer_nav-blocks {
  overflow-y: scroll;
  height: 65vh;
}

.streamer_nav-blocks::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  height: 100%;
  background-color: none;
}

.streamer_nav-blocks::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #DBDCDD;
  border-radius: 5px;
}

.streamer_nav-block {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.streamer_nav-block:hover {
  background-color: rgba(219, 220, 221, 0.9);
}

.streamer_nav-block-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.streamer_nav-block-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 50px;
}

.streamer_nav-block__avatar {
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.streamer_nav-block__avatar img {
  width: 25px;
}

.streamer_nav-block__name {
  font-size: 16px;
  width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.streamer_nav-block__name:hover {
  color: #578a96;
}

.streamer_nav-block__online_indicator {
  width: 6px;
  height: 6px;
  margin-bottom: -2px;
  border-radius: 100%;
  background-color: #FF0000;
}

.streamer_nav-block__views {
  font-size: 16px;
  margin-left: 5px;
}

.streamer_nav-footer {
  padding: 20px;
  height: 35vh;
  position: relative;
}

.streamer_nav-footer::after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 85%;
  border-radius: 3px;
  background-color: #ffffff;
}

.streamer_nav-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #DBDCDD;
  padding: 10px 30px;
}

.streamer_nav-footer__text {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.1em;
}

.streamer_nav-footer__links a {
  margin: 0 10px;
}

.streamer_nav-footer__links img {
  width: 20px;
}

@media only screen and (max-width: 1250px) {
  .streamer_nav {
    height: 100%;
    width: 80px;
  }
  .streamer_nav-block {
    padding: 15px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .streamer_nav-block__avatar {
    margin: 0;
  }
  .streamer_nav-block__name {
    display: none;
  }
  .streamer_nav-block__online_indicator {
    display: none;
  }
  .streamer_nav-block__views {
    display: none;
  }
  .streamer_nav-footer-container {
    padding: 0;
    border-radius: 20px;
  }
  .streamer_nav-footer__text {
    display: none;
  }
  .streamer_nav-footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .streamer_nav-footer__links a {
    margin: 10px 10px;
  }
  .streamer_nav-footer__links img {
    width: 20px;
  }
}

.main_content-nav {
  padding: 20px 10px;
}

.main_content-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  width: calc(100vw - 250px);
}

.main_content-nav__items::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.main_content-nav__items::-webkit-scrollbar-thumb:horizontal {
  height: 0px;
}

.main_content-nav__item {
  background-color: #F7F7F7;
  border: 1px solid #DBDCDD;
  margin: 0 10px;
  border-radius: 20px;
  padding: 2px 10px 6px;
  cursor: pointer;
  white-space: nowrap;
}

.main_content-nav__item:hover {
  border: 1px solid #F6AF44;
  background-color: #F6AF44;
  color: #ffffff;
}

.main_content-container {
  height: 79vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: calc(100vw - 250px);
}

.main_content-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  height: 100%;
}

.main_content-container::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #DBDCDD;
  border-radius: 5px;
}

.main_content-videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px;
}

.main_content-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32%;
  margin: 5px;
}

.main_content-video-preview {
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-bottom: 5px;
}

.main_content-video-preview img {
  width: 120%;
}

.main_content-video-preview__live {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #FF0000;
  border-radius: 5px;
  padding: 3px 5px;
  cursor: pointer;
  z-index: 3;
}

.main_content-video-preview__time, .main_content-video-preview__viewers {
  position: absolute;
  bottom: 10px;
  right: 5px;
  color: #ffffff;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 3px 5px;
  cursor: pointer;
  z-index: 3;
}

.main_content-video-preview__hover {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.main_content-video-preview__hover img {
  width: 40px;
  cursor: pointer;
}

.main_content-video-preview:hover .main_content-video-preview__hover {
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main_content-video-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 5px;
  width: 100%;
}

.main_content-video-description__avatar {
  margin-right: 10px;
  cursor: pointer;
}

.main_content-video-description__avatar img {
  width: 20px;
}

.main_content-video-description-text {
  width: 85%;
}

.main_content-video-description-text__main {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.1em;
  font-style: 15px;
  cursor: pointer;
}

.main_content-video-description-text__main:hover {
  color: #578a96;
}

.main_content-video-description-text__sub {
  opacity: 0.7;
  margin-top: -5px;
  cursor: pointer;
}

.main_content-video-description-text__sub:hover {
  color: #578a96;
}

.main_content-video-description__button {
  cursor: pointer;
}

.main_content-video-description__button img {
  width: 15px;
}

.main_content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: 20px;
  letter-spacing: 0.1em;
}

.main_content-footer img {
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 1250px) {
  .main_content-nav__items {
    width: calc(100vw - 80px);
  }
  .main_content-container {
    width: calc(100vw - 80px);
  }
}

@media only screen and (max-width: 1000px) {
  .main_content-video {
    width: 47%;
  }
}

@media only screen and (max-width: 700px) {
  .main_content-video {
    width: 47%;
  }
  .main_content-video-preview {
    height: 150px;
  }
}

@media only screen and (max-width: 700px) {
  .main_content-video {
    width: 100%;
  }
  .main_content-video-preview {
    height: 200px;
  }
}
/*# sourceMappingURL=main.css.map */