@import 'variables'

.header
  padding: 5px 20px
  box-shadow: 2px -10px 20px 1px lighten($black, 10%)
  position: relative
  z-index: 2
  &-container
    display: flex
    align-items: center
    justify-content: space-between
  &__icon_btn
    display: flex
    align-items: center
    justify-content: center
    border: none
    background: none
    opacity: 0.3
    img
      width: 25px
    &:hover
      transition: 0.3s
      opacity: 1
  &__logo
    width: 30%
    cursor: pointer
    img
      width: 50%
  &-nav
    display: flex
    width: 30%
    min-width: 80px
    &__input
      width: 100%
      min-width: 80px
      border: 1px solid $dark-silver
      border-top-left-radius: 3px
      border-bottom-left-radius: 3px
      padding: 5px 10px 6px
    &__loupe_btn
      display: flex
      align-items: center
      justify-content: center
      border: 1px solid $dark-silver
      border-left: none
      border-top-right-radius: 3px
      border-bottom-right-radius: 3px
      background-color: $light-silver
      &:hover
        background-color: $silver
      img
        width: 15px
  &-profile
    min-width: 30%
    display: flex
    align-items: center
    justify-content: flex-end
    position: relative
    
    &-avatar
      border-radius: 100%
      background-color: $yellow
      border: none
      width: 40px
      height: 40px
      margin-left: 10px
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      &:hover
        background-color: $silver
      &:hover &-menu
        display: block
        
      &-menu
        position: absolute
        bottom: 0
        right: 0
        transform: translateY(100%)
        background-color: $white
        border: 1px solid $dark-silver
        border-radius: 5px
        overflow: hidden
        width: 150px
        display: none
        &__item
          display: flex
          align-items: center
          justify-content: flex-start
          padding: 10px 10px
          cursor: pointer
          &:hover
            background-color: rgba($dark-silver, 0.9)
          img
            margin-right: 5px
            width: 20px
        &__last_item
          color: $red
          border-top: 1px solid $dark-silver
      img
        width: 15px

@media only screen and (max-width: 700px)
  .header
    &__logo
      width: 30%
      img
        width: 100%
