@import 'variables'

.main_content
  &-nav
    padding: 20px 10px
    &__items
      display: flex
      flex-wrap: nowrap
      overflow-x: scroll
      width: calc(100vw - 250px)
      &::-webkit-scrollbar
        width: 0px
        height: 0px
      &::-webkit-scrollbar-thumb:horizontal
        height: 0px
    &__item
      background-color: $light-silver
      border: 1px solid $dark-silver
      margin: 0 10px
      border-radius: 20px
      padding: 2px 10px 6px
      cursor: pointer
      white-space: nowrap
      &:hover
        border: 1px solid $yellow
        background-color: $yellow
        color: $white
  &-container
    height: 79vh
    overflow-y: scroll
    overflow-x: hidden
    width: calc(100vw - 250px)
    &::-webkit-scrollbar
      width: 5px
      height: 5px
      height: 100%
    &::-webkit-scrollbar-thumb:vertical
      height: 5px
      background-color: $dark-silver
      border-radius: 5px 
  &-videos
    display: flex
    flex-wrap: wrap
    padding: 15px
  &-video
    display: flex 
    flex-direction: column
    align-items: flex-start
    justify-content: center
    width: 32%
    margin: 5px
    &-preview
      position: relative 
      height: 200px
      overflow: hidden
      margin-bottom: 5px
      img
        width: 120%
      &__live
        position: absolute
        top: 5px
        left: 5px
        color: $white  
        text-transform: uppercase
        font-size: 12px
        background-color: $red
        border-radius: 5px
        padding: 3px 5px
        cursor: pointer
        z-index: 3
      &__time, &__viewers
        position: absolute
        bottom: 10px
        right: 5px
        color: $white 
        font-size: 12px
        background-color: rgba($black, 0.3 )
        border-radius: 5px
        padding: 3px 5px 
        cursor: pointer 
        z-index: 3
      &__hover
        position: absolute
        top: 0
        left: 0
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        background-color: rgba($black, 0.3)
        opacity: 0
        img
          width: 40px  
          cursor: pointer
       
      &:hover &__hover
        opacity: 1
        transition: 0.2s
    &-description 
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0px 5px
      width: 100%
      &__avatar   
        margin-right: 10px
        cursor: pointer
        img
          width: 20px 
      &-text
        width: 85%
        &__main
          width: 100%
          text-overflow: ellipsis
          overflow: hidden
          white-space: nowrap    
          letter-spacing: 0.1em
          font-style: 15px
          cursor: pointer
          &:hover
            color: $blue
        &__sub
          opacity: 0.7
          margin-top: -5px 
          cursor: pointer 
          &:hover
            color: $blue
      &__button
        cursor: pointer
        img
          width: 15px    
  &-footer
    display: flex
    padding: 20px 20px 40px
    align-items: center
    justify-content: center
    font-style: 20px
    letter-spacing: 0.1em
    img
      width: 20px
      margin-left: 10px
      cursor: pointer

@media only screen and (max-width: 1250px) 
  .main_content
    &-nav
      &__items
        width: calc(100vw - 80px)
    &-container
      width: calc(100vw - 80px)

@media only screen and (max-width: 1000px) 
  .main_content
    &-video
      width: 47%  

@media only screen and (max-width: 700px) 
  .main_content
    &-video
      width: 47%      
      &-preview
        height: 150px    
  
@media only screen and (max-width: 700px) 
  .main_content
    &-video
      width: 100%      
      &-preview
        height: 200px    
