*
  box-sizing: border-box
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

html, body
  height: 100%
  margin: 0
  padding: 0

a
  text-decoration: none
  color: #000000

li
  list-style-type: none

ul
  margin: 0
  padding: 0

button, input
  &:focus
    outline: none
  &:hover
    cursor: pointer

body
  height: 100vh
  overflow: hidden
  
   
