@import 'variables'

.streamer_nav
  height: 100%
  width: 250px
  background-color: $silver
  position: relative
  &-blocks
    overflow-y: scroll
    height: 65vh
    &::-webkit-scrollbar
      width: 5px
      height: 5px
      height: 100%
      background-color: none
    &::-webkit-scrollbar-thumb:vertical
      height: 5px
      background-color: $dark-silver
      border-radius: 5px  
  &-block
    padding: 15px 20px
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    cursor: pointer
    &:hover
      background-color: rgba($dark-silver, 0.9)
    &-right
      display: flex
      align-items: center
      justify-content: center
    &-left
      display: flex
      align-items: center
      justify-content: flex-end
      min-width: 50px 
    &__avatar
      background-color: $white
      width: 40px
      height: 40px
      border-radius: 100%
      display: flex
      align-items: center
      justify-content: center
      margin-right: 10px
      img
        width: 25px
    &__name
      font-size: 16px
      width: 120px
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap
      &:hover
        color: $blue
    &__online_indicator
      width: 6px
      height: 6px
      margin-bottom: -2px
      border-radius: 100%
      background-color: $red  
    &__views
      font-size: 16px
      margin-left: 5px
  &-footer
    padding: 20px
    height: 35vh
    position: relative
    &::after
      position: absolute
      display: block
      content: ''
      top: 0
      left: 50%
      transform: translateX(-50%)
      height: 2px
      width: 85%
      border-radius: 3px
      background-color: $white  
    &-container
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      background-color: $dark-silver
      padding: 10px 30px
      
    &__text
      text-align: center
      margin-bottom: 30px
      letter-spacing: 0.1em
    &__links
      a
        margin: 0 10px
      img
        width: 20px

        
@media only screen and (max-width: 1250px)
  .streamer_nav
    height: 100%
    width: 80px 
    &-block
      padding: 15px 20px
      justify-content: center
      &__avatar
        margin: 0
      &__name
        display: none
      &__online_indicator
        display: none 
      &__views
        display: none
    &-footer
      &-container
        padding: 0
        border-radius: 20px
      &__text
        display: none
      &__links
        display: flex
        flex-direction: column
        a
          margin: 10px 10px
        img
          width: 20px      